<mat-card class="song-card">
<h3>Find by id</h3>

  <form (ngSubmit)="onSubmit()" class="example-form">
    
     
      <mat-form-field class="example-full-width" appearance="outline">
        <input
          matInput
          type="number"
          placeholder="id"
          id="id"
          value=""
          required
          [(ngModel)]="id"
          name="id"
          min="0" 
          step="1"
        />
      </mat-form-field>

    
      <button mat-flat-button type="submit" color="primary">Submit</button>

  </form>

<ul>
  <li *ngFor="let song of songs">
    <h4>{{song.id}} - {{song.title}} {{song.author}}</h4>
  </li>
</ul>
</mat-card>